<%- include("./layout/header.ejs") %>
        <main class="product-details">
            <h2>Edit Product</h2>
             <p class="error"><%= error %> </p>

            <div>
                <form action="/products/<%= product._id %>?_method=put" method="POST">
                    <div>
                        <label for="name">
                            <p>Product Name</p>
                        </label>
                        <input type="text" name="name" id="" value="<%= product.name %>">
                    </div>
                    <div>
                        <label for="price">
                            <p>Product Price</p>
                        </label>
                        <input type="number" name="price" id="" value="<%= product.price %>">
                    </div>
                    <div>
                        <label for="description">
                            <p>Product Description</p>
                        </label>
                        <textarea name="description" id="" cols="30" rows="10"><%= product.description %></textarea>
                    </div>
                    <div>
                        <label for="imageURL">
                            <p>Product Image URL</p>
                        </label>
                        <input type="string" name="imageURL" id="" value="<%= product.imageURL %>" >
                    </div>

                    <div>
                        <label for="category">
                            <p>Product Category</p>
                        </label>
                        <select name="category" id="">
                            <option value="Accessories"
                            <% if (product.category  === 'Accessories') {%>
                                 selected
                            <% } %>
                            >Accessories</option>
                            <option value="Apparel"
                            <% if (product.category === 'Apparel') {%>

                                 selected
                            <% } %>
                            >Apparel</option>
                            <option value="Bags"
                            <% if (product.category === 'Bags') {%>

                                selected
                            <% } %>
                            >Bags</option>
                        </select>
                    </div>

                    <input type="submit" value="Edit Product">

                </form>

            </div>
        </main>     
<%- include("./layout/footer.ejs") %>